<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="print.css" rel="stylesheet" media="print" />
  <link href="customColors.css" rel="stylesheet" />
</head>
<body id="app" class="bg-black text-white text-lg italic">
  <img src="YourMove.png" class="max-h-60 object-scale-down object-top w-full p-6 bg-secondary" alt="YourMove">
  <div class="flex flex-wrap text-justify justify-center">
    <div class="no-print m-4 max-w-screen-lg">
      <p class="text-justify">
        Gebt einfach eure Daten unten ein und fangt sofort an eure wöchentlichen Teamziele zu erreichen. 
        Ihr kriegt <span class="text-highlight">einen Punkt</span> pro Arbeitsweg den ihr
        <ul class="flex flex-col place-items-left">
          <li class="list-item mx-4">zu <span class="text-highlight">Fuß</span></li>
          <li class="list-item mx-4">mit dem <span class="text-highlight">Rad</li>
          <li class="list-item mx-4">in einer <span class="text-highlight">Fahrgemeinschaft</span></li>
          <li class="list-item mx-4">im <span class="text-highlight">ÖPNV</span></li>
          <li class="list-item mx-4">auf dem <span class="text-highlight">E-Scooter</span></li>
        </ul>
        zurücklegt. 
        Falls ihr selber noch andere Ideen (Einhorn, Pedalo, Bollerwagen, etc.) habt, könnt ihr dafür natürlich auch Punkte vergeben.
        In der Zukunft könnt ihr auch euren Fortschritt hier dokumentieren :)
      </p>
    </div>
    <div class="grid grid-cols-1 w-full justify-items-stretch max-w-screen-lg">
      <div class="bg-secondary p-4 my-4 max-w-full no-print lg:align-self-start lg:rounded-lg lg:m-4 lg:p-2">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-3 m-3 font-bold">
          <label for="teamsize" class="text-white px-1">Teamgröße: </label>
          <input class="rounded-full p-1 px-4 text-black font-bold" id="teamsize" v-model="teamsize" type="number" min="3" max="20" placeholder="3 - 20">        
          <label for="workdays" class="text-white px-1">Präsenz-Arbeitstage: </label>
          <input class="rounded-full p-1 px-4 text-black font-bold" class="input" id="workdays" v-model="workdays" type="number" min="1" max="7" placeholder="1 - 7">
          <label for="timeframe" class="text-white px-1">Challenge-Laufzeit (in Wochen): </label>
          <input class="rounded-full p-1 px-4 text-black font-bold" id="timeframe" v-model="timeframe" type="number" min="10" max="52" placeholder="10 - 52">  
        </div>
        
        <button onclick="window.print();" class="no-print rounded-lg bg-primary text-black m-6 mt-2 p-2 px-3 font-bold width-min self-start flex-grow-none">
          Spielplan drucken
        </button>
      </div>
      <table class="table-fixed text-left max-w-full m-4">
        <caption class="text-left text-2xl font-bold mb-4">YourMove Spielplan</caption>
        <thead>
          <tr class="max-w-full min-w-full">
            <th class="">Woche der Challange: </th>
            <th class="">Wochen-Ziel: </th>
            <th class="">erreichte Punktzahl: </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="currentWeek in timeframe" class="">
            <td class=""> Woche {{currentWeek}}</td>
            <td class=""> {{ weeklyGoal(currentWeek) }} </td>
            <td class=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
