<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  Hello World
  <div id="app">
    <label for="teamsize">Teamgröße: </label>
    <input id="teamsize" v-model="teamsize" type="number">
    <label for="workdays">Präsenz-Arbeitstage: </label>
    <input id="workdays" v-model="workdays" type="number">
    <label for="timeframe">Challenge-Laufzeit: </label>
    <input id="timeframe" v-model="timeframe" type="number">

    <div v-for="i in timeframe">
      <span>Woche {{i}}:</span>
      <span></span>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>