.no-print {
    display : none;
    visibility: hidden;
}

thead {
    display:table-header-group;
}

tfoot { 
    display:table-footer-group;
}

table {
    height: 80%;
    page-break-inside:auto
}

tr {
    width: 100%  !important;
    size: 20pt;
    page-break-inside:avoid; 
    page-break-after:auto
}

th, td {
    padding: 0.5rem;
    border: 2px solid black !important;
    font-size: 14pt;
}

body {
    background: white !important;
    color: black !important;
}

img {
    background: white !important;
}